<!DOCTYPE html>
<html>
<head>
  <title>My Portfolio</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">

  <!-- Include your CSS (Bootstrap, custom styles, etc.) -->
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload" %>
  <script type="module" src="<%= asset_path('letter_select.js') %>"></script>
  <script type="module" src="<%= asset_path('dark_mode_toggle.js') %>"></script>

</head>

<body class="bg-col">

  <!-- Main Wrapper -->
  <div class="bg-col"> <!-- Added bg-col here to wrap everything -->

    <!-- Navbar -->
    <%= render 'shared/navbar' %>

    <!-- Main content -->
    <%= yield %>

    </div>
</body>
</html>
